/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0f172a;
    color: white;
}

.left-container {
    display: flex;
    align-items: center;
}

.menu-icon {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #3b4d63;
    color: white;
    outline: none;
}

.search-icon, .mic-icon {
    margin-left: -40px;
    cursor: pointer;
}

.search-icon {
    padding-left: 10px;
}

.mic-icon {
    padding-left: 20px;
}

.right-icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 24px;
    cursor: pointer;
}
